/* css styling for the calculator  */



/* Basic reset for margin and padding */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 10 auto;
    padding: 10;

}
/* Title */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Labels and inputs */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

input, select, button {
    width: 20%;
    display: block;
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Button styling */
button {
    background-color: #4c82af;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #497ea8;
}

/* Result box */
/* struggled with linking as i used Result as an id thats different in javascrip to the actual id in html */
#Result {  
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    color: #333;
    background: #e9f5e9;
    border: 1px solid #b2d8b2;
    width: 25%;
}
